@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  min-width: 693px;
}
.sidebar-button {
  @apply text-white hover:text-black hover:bg-white rounded-full w-48 text-base px-4 py-2.5 ml-10 mr-5 ;
}

.gradient-color {
  @apply bg-gradient-to-bl from-orange-400 to-pink-500;
}

.gradient-color-orange {
  @apply bg-gradient-to-r from-yellow-600 via-orange-600 to-red-600;
}

.general-button {
  @apply  inline-flex  p-2 px-5 text-white bg-gradient-to-bl hover:from-pink-500 hover:to-orange-600 hover:bg-gradient-to-bl  from-orange-400 to-pink-500 justify-center align-middle text-center rounded-full ;
}

.transparent-button {
  @apply  inline-flex  p-2 px-5 text-white bg-transparent hover:bg-slate-100 justify-center align-middle text-center rounded-full ;
}

.add-button {
  @apply  inline-flex p-3 px-5 text-orange-500 bg-white hover:bg-slate-100 justify-center align-middle text-center rounded-full ;
}


.sidebar-icon {
  @apply size-6 mr-3 ; 
}

.title {
  @apply text-xl font-bold text-black;
}

.sub-title {
  @apply text-lg font-bold text-black;
}

.card-info{
  @apply text-base text-gray-400;
}

/* .rounded-card{
  @apply
} */

.carousel-item-spacing{
  padding-right: 10px; 
}

/* comment page */
.comment-heading-font{
  @apply text-blue-950 font-bold text-2xl
}

.comment-sub-heading-bold-font{
  @apply text-blue-950 font-semibold text-lg
}

.comment-sub-heading-font{
  @apply text-blue-950 font-normal text-lg
}

.comment-detail-font{
  @apply text-slate-500 font-bold text-lg
}

.comment-card{
  @apply bg-slate-100 w-5/6 p-2 rounded-3xl mb-6 flex flex-col shadow-xl
}


@media (max-width: 500px){
  .carousel-item-spacing{
    padding-right: 10px; 
  }
}

@media (max-width: 1200px){
  .carousel-item-spacing{
    padding-right: 10px; 
  }
}


