@tailwind base;
@tailwind components;
@tailwind utilities;


/* body{
  min-width: 693px;
} */

.general-card{
  @apply rounded-3xl drop-shadow-md p-4;
}

.sidebar-button {
  @apply text-white hover:text-black hover:bg-white rounded-xl w-10 h-10 text-center flex;
}

.gradient-color {
  @apply bg-gradient-to-bl from-orange-400 to-pink-500;
}

.gradient-color-orange {
  @apply bg-gradient-to-r from-yellow-600 via-orange-600 to-red-600;
}

.general-button {
  @apply  inline-flex  p-2 px-5 text-white bg-gradient-to-bl hover:from-pink-500 hover:to-orange-600 hover:bg-gradient-to-bl  from-orange-400 to-pink-500 justify-center align-middle text-center rounded-full ;
}

.transparent-button {
  @apply  inline-flex  p-2 px-5 text-white bg-transparent hover:bg-slate-100 justify-center align-middle text-center rounded-full ;
}

.add-button {
  @apply  inline-flex p-3 px-5 text-orange-500 bg-white hover:bg-slate-100 justify-center align-middle text-center rounded-full ;
}

/* sidebar */
.sidebar-icon {
  @apply size-6 self-center mx-auto; 
}
.bottom-bar-icon {
  @apply size-6 self-center mx-auto; 
}

.nav-link{
  @apply mr-20; 
  
}


.big-title {
  @apply text-3xl font-bold text-black;
}

.title {
  @apply text-xl font-bold text-black;
}

.sub-title {
  @apply text-lg font-bold text-black;
}

.heading-font{
  @apply text-black font-bold text-2xl
}

.sub-heading-font{
  @apply text-black font-bold text-xl
}

.detail-font{
  @apply text-black text-xl
}

.card-info{
  @apply text-base text-gray-400;
}

/* .rounded-card{
  @apply
} */

.carousel-item-spacing{
  @apply p-2
}

/* comment page */
.comment-heading-font{
  @apply text-blue-950 font-bold text-2xl text-center
}

.comment-sub-heading-bold-font{
  @apply text-blue-950 font-semibold text-lg
}

.comment-sub-heading-font{
  @apply text-blue-950 font-normal text-lg
}

.comment-detail-font{
  @apply text-slate-500 font-bold text-lg
}

.comment-card{
  @apply bg-slate-100 w-5/6 p-2 rounded-3xl mb-6 flex flex-col shadow-xl
}

/* profile overview */
.profile-heading-font{
  @apply text-lg font-bold text-gray-900
}

.profile-text-box{
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-slate-100 dark:border-slate-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.grid-container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%; 
  height: 100%;
  row-gap: 20px;
  column-gap: 20px;
}

@media only screen and (max-width: 1115px){
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #dbdbdb;
}

::-webkit-scrollbar-thumb {
  background-color: #F97316; /* Scrollbar thumb color */
  border-radius: 10px;    /* Round corners of scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #F97316;  /* Color on hover */
}

@media (max-width: 500px){
  .carousel-item-spacing{
    padding-right: 10px; 
  }
}

@media (max-width: 1200px){
  .carousel-item-spacing{
    padding-right: 10px; 
  }
}




